<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.jskno.taskmanagement.sandbox.lookup2" />

    <bean id="schoolNotification2" class="com.jskno.taskmanagement.sandbox.lookup2.SchoolNotification2" scope="prototype"/>

    <bean id="studentServices2" class="com.jskno.taskmanagement.sandbox.lookup2.StudentServices2" scope="prototype" >
        <lookup-method name="getNotification" bean="schoolNotification2"/>
    </bean>
</beans>